3 урок /сценарий_1
{
  "name": "Урок 3 — Демо: поток данных между нодами",
  "nodes": [
    {
      "parameters": {},
      "id": "a1b2c3d4-0001-0001-0001-000000000001",
      "name": "▶ Запуск вручную",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 300],
      "notes": "Триггер — точка старта сценария. Нажимаем кнопку Run и всё начинается."
    },
    {
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "fields": {
          "values": [
            {
              "name": "имя",
              "stringValue": "Анна"
            },
            {
              "name": "город",
              "stringValue": "Москва"
            },
            {
              "name": "курс",
              "stringValue": "n8n Старт"
            }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-0002-0002-0002-000000000002",
      "name": "📋 Данные студента",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [460, 300],
      "notes": "Нода Set — задаём данные вручную. Три поля: имя, город, курс. Это вход для следующей ноды."
    },
    {
      "parameters": {
        "jsCode": "// Получаем данные из предыдущей ноды\nconst имя = $input.first().json.имя;\nconst город = $input.first().json.город;\nconst курс = $input.first().json.курс;\n\n// Собираем приветственное сообщение\nconst приветствие = `Привет, ${имя}! Рады видеть тебя из ${город} на курсе «${курс}». Поехали! 🚀`;\n\n// Возвращаем результат\nreturn [\n  {\n    json: {\n      имя: имя,\n      город: город,\n      курс: курс,\n      приветствие: приветствие\n    }\n  }\n];"
      },
      "id": "a1b2c3d4-0003-0003-0003-000000000003",
      "name": "✍️ Собираем приветствие",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300],
      "notes": "Нода Code — берёт данные из предыдущей ноды и собирает из них готовое сообщение. Поля имя, город, курс подставляются автоматически."
    }
  ],
  "connections": {
    "▶ Запуск вручную": {
      "main": [
        [
          {
            "node": "📋 Данные студента",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Данные студента": {
      "main": [
        [
          {
            "node": "✍️ Собираем приветствие",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "versionId": "lesson3-demo-v1"
}
